<section class="section">
  <div class="container">
    <table class="table" *ngIf="tests.length">
      <thead class="table__head">
        <tr>
          <th>SN</th>
          <th>Date</th>
          <th>Fields (x1, v1, x2, v2)</th>
          <th>Result</th>
        </tr>
      </thead>
      <tbody class="table__body">
        <tr *ngFor="let test of tests; let i = index">
          <th>{{i+1}}</th>
          <td>{{ test.date | date}}</td>
          <td>
            <span *ngFor="let item of test.fields;let last = last">
              {{item}}<span *ngIf="!last">,</span>&nbsp;
            </span>
          </td>
          <td>{{test.result}}</td>
        </tr>
      </tbody>
    </table>
    <div class="empty-state" *ngIf="!tests.length">
      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="#ced4da"
        stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-slash">
        <circle cx="12" cy="12" r="10"></circle>
        <line x1="4.93" y1="4.93" x2="19.07" y2="19.07"></line>
      </svg>
      No records
    </div>
  </div>
</section>
