.container {
  padding: 1.75rem 8rem;
}
.t-div {
  margin-top: 5rem;
  display: block;
  /* background-color: #ced4da; */
  /* border-radius: 0.5rem; */
  /* border: 1px solid #ced4da; */
}
.table {
  /* display: block;
  overflow-x: auto;
  white-space: nowrap; */
}
.table thead th {
  border-top: 1px solid #dee2e6;
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}
.table th {
  font-weight: 500;
}
.table td,
.table th {
  text-align: left;
  border: 1px solid #ced4da;
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}
