<section>
  <div class="container">
    <div class="t-div">
      <table class="table" style="width:100%">
        <thead>
          <tr>
            <th>SN</th>
            <th>Date</th>
            <th>Fields (x1, v1, x2, v2)</th>
            <th>Result</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>1</th>
            <td>3/5/2021</td>
            <td>0,5,0,1</td>
            <td>NO</td>
          </tr>
          <tr>
            <th>2</th>
            <td>4/5/2021</td>
            <td>1,6,2,3</td>
            <td>NO</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
